<div class="card-group" style="margin-bottom: 50px;">
    <div class="card text-center">
        <div class="card-header bg-primary text-white">
            <h4>{{entity.id}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{entity.name}}</h5>
            <p class="card-text">{{entity.status}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="card-footer text-muted">
            Additional Information
        </div>
    </div>
</div>
